
@font-face {
    font-family:Topaz;
    src: url(/Sans.ttf) format("truetype");
}

body, html {
    height: 100%;
    font-family: sans-serif;
    background: #999;
    font-family: 'Topaz';
}

h1 {
    width: 100%;
    text-align: center;
    padding-top: 1em;
}

button {
    font-family: 'TOPAZ';
    border-left: solid 2px #ccc;
    border-top: solid 2px #ccc;
    border-bottom: solid 2px black;
    border-right: solid 2px black;
    background: #ccc;
    margin-right: 0.5em;
}


.client-controls,
#server-controls {
    text-align: right;
}


.container {
    padding: 5px;
}


.titlebar {
    border-left: solid 2px #ccc;
    border-top: solid 2px #ccc;
    border-bottom: solid 2px black;
    border-right: solid 2px black;
    text-align: left;
    font-family: 'Topaz';
    margin-right: 1px;
    padding: 3px 2px 2px 10px;
    background: #6B8EC6;
    color: black;
}

thead tr {
    color: #222;
    background: #999;
}

table {
    border-spacing: 0;
    background: white;
    overflow: hidden;
    width: 100%;
    margin-bottom: 1em;
}

table thead tr th {
    padding-top: 4px;
}

table thead tr th:first-child,
table td:first-child
{
    border-left: 2px solid #CCC;
}

table thead tr th:last-child,
table td:last-child{
    border-right: 2px solid #444;
}

table tr:last-child td {
    border-bottom: 2px solid #444;
}

table td, table th {
  padding-left: 8px;
}


table td, table th {
  text-align: left;
}

tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

tbody tr {
  color: #444;
  line-height: 1.4em;
}
